.note-creation {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  background-color: white;
  border-radius: 25px;
  box-shadow: 0 0 4px;
  width: 80dvw;
  max-width: 500px;

  input {
    padding: 0.5rem;
    border: none;
    border-radius: 4px;
  }
  .line {
    width: 100%;
    border-bottom: 1px solid #ccc;
  }

  .input-group {
    display: flex;
    align-items: center;
    input[type="text"] {
      flex-grow: 1;
    }

    input[type="checkbox"] {
      margin-left: 0.5rem;
    }

    label {
      margin-left: 0.25rem;
    }
  }
  .button-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  button {
    margin-top: 0.3rem;
    padding: 0.5rem;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: white;
    width: 30%;
    cursor: pointer;

    &:hover {
      background-color: #0056b3;
    }
  }
}
