.color-picker-popup {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  padding: 5px;
  background-color: #f99494;
  border-radius: 10px;
  width: 40dvw;
  max-width: 300px;
}

.color-option {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
